.bounceCardsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  position: absolute;
  width: 280px;
  height: 400px;
  border-radius: 25px;
  transition: z-index 0.3s;
}

.card-wrapper:hover {
    z-index: 50;
}

.card-wrapper .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
